html, body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
}

body {
    padding-top: 70px;
    background-color: #3e4043;
    transition: background-color 0.3s;
}

.main-header {
    background-color: #1a1a1a;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: padding 0.3s;
}

.header-section {
    flex: 1; 
    display: flex;
    justify-content: center;
}

.title {
    font-size: 22px !important;
}

#left-header-section {
    justify-content: flex-start;
}

#right-header-section {
    justify-content: flex-end; 
}

.title {
    margin: 0; 
}

.header-content {
    width: 100%; 
    max-width: 1200px; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 20px; 
}

.view-toggle-btn {
    margin-left: 20px; 
    background-color: #777;
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 15px;
    cursor: pointer; 
    padding: 10px 20px; 
}

.view-toggle-btn:hover {
    background-color: #0056b3;
}

#card-container.list-view .card {
    max-width: 50%;
}

.search-box {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.search-box input[type="text"] {
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 20px 0 0 20px;
    outline: none;
}

.search-btn {
    padding: 10px;
    font-size: 14px;
    background-color: #777;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
    outline: none;
}

.search-btn:hover {
    background-color: #0056b3;
}


.title {
    text-align: center;
    margin: 0;
    font-size: 12px;
    color: #ffffff;
    text-shadow: #1a1a1a;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.3s;
}

#card-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    margin: 20px;
    transition: transform 0.3s;
}

.card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.05); 
}

.card-content ul {
    display: block;
}

.card:hover .card-content ul {
    display: block; 
}

.card-content {
    padding: 20px;
    font-family: "Verdana";
    color: #777;
}

.card-content h2 {
    margin-top: 0;
    font-size: 20px;
    color: #fefefe;
}

.card {
    border: 1px solid #ffffff;
    background-color: #777;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    transition: all 0.3s ease-in-out;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid #ffffff; 
    border-radius: 15px;
    transition: opacity 0.3s ease-in-out;
}

.button-list {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex; 
    justify-content: space-around;
}

.button-style {
    display: block;
    width: 100%; 
    margin: 5px 0; 
    padding: 10px;
    font-size: 16px;
    margin: 5px; /* Small margin for separation */
    color: #ffffff;
    background-color: #007bff; 
    border: none;
    border-radius: 20px;
    text-align: left; 
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative; 
    text-decoration: none; 
}

.button-style i {
    margin-right: 8px; 
    color: #ffffff; 
    transition: background-color 0.3s, box-shadow 0.3s;
}

.button-style:hover {
    background-color: #1c4d7e; 
}

.modal{
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    backdrop-filter: blur(8px); 
    transition: all 0.3s; 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 400px; 
    border-radius: 15px;
    max-height: 800px;
    transition: margin 0.3s, width 0.3s;
}

.car-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 400px; 
    border-radius: 15px;
    max-height: 800px
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.3s;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

iframe {
    width: 100%;
    height: 95vh;
    border-radius: 15px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, .3);
    padding: 10px;
}